@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


* {/*general*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body {
    min-height: 100vh;
    font-size: 17px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.container {
    width: 375px;
    text-align: center;
    display: flex;
    flex-direction: column;
}/*general*/

h1, h2, h3, a {/*text color*/
    color:hsl(210, 10%, 33%);
}

p {
    color: var(--grayish-blue);
}/*text color*/

.bigimage {/*device images*/
    width: 100%;
    padding: 2rem;
}/*device images*/

/*settings from top to bottom*/
header {/*logo and background behind it*/
    background-image: url("images/bg-header-mobile.png");
    background-repeat:round;
    background-position: fixed;
    background-size: 100%;
    padding-top: 10rem;
    padding-bottom: 3rem;
}/*logo and background behind it*/

.title {/*title and paragraph*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2.5rem;
}/*title and paragraph*/

.title2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.3rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1.5rem;
    margin-bottom: 10rem;
}

.description2 {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 4rem;
}

.description3 {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 4rem;
}

.sub2 img {
    width: 44px;
}

.sub2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.companies img {
    width: 30%;
}

.companies {
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.description4 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.footer {
    background-color:hsl(200, 100%, 95%);
}

.smalllogo {
    width: 50%;
    padding: 3.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color:hsl(171, 66%, 44%);
    transition: 0.2s ease-in-out;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.social:hover {
    fill: var(--strong-cyan);
    
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

button {/*buttons*/
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    width: 300px;
    padding: 15px;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.ios {
    background-color: var(--strong-cyan);
    box-shadow: 0px 4px 0px #16a085;
}
.mac {
    background-color:var(--light-blue);
    box-shadow: 0px 4px 0px hsl(233, 62%, 57%);
}/*buttons*/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 1024px) {
    .container {
        font-size: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    header {/*logo and background behind it*/
        width: 100%;
        background-image: url("images/bg-header-desktop.png");
        background-repeat:round;
        background-position: fixed;
        background-size: 100%;
        padding-top: 10rem;
        padding-bottom: 3rem;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }

    .title{
        width: 840px;
    }

    .title2 {
        width: 960px;
    }

    .desktoprow {
        margin-top: 4rem;
        margin-bottom: 5rem;
        width: 100%;
        text-align: start;
        display: flex;
        align-content: center;
        align-items: center;
    }
    .desktoprow img {
        width: 65%;
        position: relative;
        right: 4.5%;
    }

    .description2 {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }

    .sub2 {
        width: 900px;
    }

    .description3 {
        display: flex;
        flex-direction: row;
    }

    .sub3 {
        display: flex;
        flex-direction: column;
        width: 530px;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .sub3 img {
        width: 44px;
    }

    .companies {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5rem 0 10rem 0;
    }

    .companies img {
        width: 155px;
    }

    .description4 {
        width: 990px;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .smalllogo {
        width: 200px;
        height: 50%;
    }

    .linkrow1, .linkrow2 {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .links {
        width: 65vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        gap: 5vh;
    }

}